[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
geopandas = "*"
altair = "*"
rtree = "*"

[dev-packages]

[requires]
python_version = "3.6"
